.footer{
    background-color: black;
}
.footer_wrapper{
    display: flex;
    align-items: center;
    gap: 70px;
}
.footer_con1 h3{
    font-family: var(--font-family);
font-weight: 800;
font-size: 24px;
line-height: 153%;
color: #fff;
margin-bottom: 15px;
}
.footer_con1 p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #fff;
margin-bottom: 25px;
}
.footer_con1 span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #fff;
}
.footer_con2 h4{
    font-family: var(--font-family);
font-weight: 500;
font-size: 17px;
color: #fff;
margin-bottom: 15px;
}
.footer_con2 li{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 186%;
color: #fff;
margin-bottom: 5px;
}
.footer_con3 h4{
    font-family: var(--font-family);
font-weight: 500;
font-size: 17px;
color: #fff;
margin-bottom: 20px;
}
.footer_con3 p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #fff;
margin-bottom: 11px;
}
.footer_con3 span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #fff;
}
.footer_con4{
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: 120px;
  cursor: pointer;
}
.footer_wrapper{
    padding-top: 70px;
    padding-bottom: 50px;
}
@media (max-width:900px) {
    .footer_wrapper{
display: grid;
grid-template-columns: repeat(2,1fr);

    }
    .footer_con4{
display: block;
flex-wrap: wrap;
gap: 5px;
margin-top: 0;
    }
}
@media (max-width:600px) {
.footer_con4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
}
}